{% extends 'wad2App/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body_block %}

<h1>Add a new dog!</h1>
<img src="{% static 'wad2App/img/aboutus_title.png' %}" style="max-height: 2em; margin-bottom: 4%;">

<form id="dog_form" class="" action="{% url 'WAD2app:addDog' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ dog_form|crispy }}

    <button class="btn btn-lg btn-primary btn-block login" type="submit" value="Register">Add Dog</button>

</form>
{% endblock %}
