{% block dogcard %}
{% load static %}

<a class="card" id="dogCards" href="{% url 'WAD2app:dog' dog.id %}"
    style="width: 18rem; border-radius: 20px; box-shadow: 0 10px 10px 2px rgba(26, 26, 26, 0.08); border-style: none;">
    <img class="card-img-top" src="{% static 'wad2App/img/doglist_dogpic.png' %}"
        style="border-top-left-radius: 20px; border-top-right-radius: 20px">
    <div class="card-body">
        <h3 class="card-title">{{ dog.name }}</h3>
        <p class="card-body">{{ dog.breed }},
            {{ dog.get_age_display }}{% if dog.age != "PUP" %} years {% endif %}</p>
    </div>
</a>
{% endblock %}
