{% extends 'wad2App/base.html' %}

{% block body_block %}
<h1>Change Password</h1>
<img src="aboutus_title.png" style="max-height: 2em; margin-bottom: 4%;">

<form id="user_form" class="" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
    <!--{%csrf_token%}-->
    <input type="oldPassword" name="oldPassword" id="inputPassword" class="form-control custom-input"
        placeholder="Old Password" required="">
    <br />
    <input type="newPassword" name="newPassword" id="inputPassword" class="form-control custom-input"
        placeholder="New Password" required="">
    <br />
    <input type="password" name="confirm_password" id="inputPassword" class="form-control custom-input"
        placeholder="Confirm password" required="">
    <br />
    <!--{% if errors %}-->
    <p style="color:red;">Errors will appear here{{errors}}</p>
    <!--{% endif %}-->
    <button class="btn btn-lg btn-primary btn-block login" type="submit" value="changePassword">Change Password</button>

</form>
{% endblock %}