{% extends 'wad2App/base.html' %}
{% load static %}
{% block title_block %}Login{% endblock %}
{% block body_block %}
<img src="{% static 'wad2App/img/login_background.png' %}" class="d-none d-lg-block d-xl-none d-xl-block d-md-block"
    style="left:0; width:100%; z-index: -1; position:absolute;">
<img src="{% static 'wad2App/img/login_backgroundmobile.png' %}" class="d-none d-sm-block d-md-none d-block"
    style="width:50%; bottom:0; z-index: -1; position:absolute;">


<div class="container" style="max-width:576px; margin-bottom: 450px; text-align: center;">

    <h1>Welcome back!</h1>
    <p style="font-size: 1em;" class="mb-5">Don't have an account? <a href="{% url 'WAD2app:register' %}">Create
            one.</a>

    <form id="login_form" method="post" action="{% url 'WAD2app:login' %}" enctype="multipart/form-data">
        {% csrf_token %}
					Username: <input type='text' name='username' value='' size='50' />
					<br />
					Password: <input type='password' name='password' value='' size='50' />
					<br />
					<input type="submit" value="submit" />

                    <input name="next" type="hidden" value="{{next}}">

    <p style="font-size: 1em;"> <a href="{% url 'WAD2app:changePassword' %}">Forgot your password?</a></p>
    <br />
    </form>
</div>
{% endblock %}
