{% extends 'wad2App/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title_block %}Profile{% endblock %}
{% block body_block %}
<h1>My account</h1>
<img src="{% static 'wad2App/img/myaccount_title.png' %}" style="max-height: 2em; margin-bottom: 2%;">
<br />

<div class="row">
    <div class=col-2>
        <img src="{{ MEDIA_URL }}{{ profile.image }}"
            style="border-radius: 50%; width: 150px; height: 150px; overflow: hidden">
    </div>
    <div class=col>
        <h1>{{ profile.name }}</h1>
    </div>
</div>
<br />
<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    My information
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% for key, val in profile|get_fields %}
                    {% if key != "image" and key != "user" and key != "id" %}
                <li class="card-body dog-details"><b>{{ key|title }}</b> : {{ val }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Favourites
                    </button>
                </h5>
            </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="scrollBox">
            <ul class="hs full">
                {% for dog in favourites %}
                <li  id="item">
                {% include 'wad2App/dogs/dogCard.html' %}
                </li>
                {% endfor %}
            </ul>

            </div>
            </div>
        </div>
</div>









{% comment %}
    <div class="scrolling-wrapper">
        <div class='row px-auto'>
            <div class='col my-3'>
                <a><span class="fa fa-star"></span></a>
                <a><span class="fa fa-star checked"></span></a>
                <a class="card" href="{% url 'WAD2app:dog' dog.id %}"
                    style="width: 18rem; border-radius: 20px; box-shadow: 0 10px 40px 5px rgba(26, 26, 26, 0.397); border-style: none;">
                    <img class="card-img-top" src="{% static 'wad2App/img/doglist_dogpic.png' %}"
                        style="border-top-left-radius: 20px; border-top-right-radius: 20px">
                    <div class="card-body">
                        <h3 class="card-title">{{ dog.name }}</h3>
                        <p class="card-body">Breed, age, and more</p>
                    </div>
                </a>
            </div>
        </div>
  </div>
{% endcomment %}


{% endblock %}
