{% extends 'wad2App/base.html' %}
{% load static %}

{% block body_block %}
<h1>Welcome!</h1>
<img src="{% static 'wad2App/img/aboutus_title.png' %}" style="max-height: 2em; margin-bottom: 4%;">

<form id="user_form" method="post" action="{% url 'WAD2app:register' %}"
 enctype="multipart/form-data">

    <h1>Account Information</h1>
    <br />
    {%csrf_token%}
    {{ user_form.as_p }}

    <h1>Pet Preference</h1>

    <!--{% if errors %}-->
    <p style="color:red;">Errors will appear here{{errors}}</p>
    <!--{% endif %}-->
    <button class="btn btn-lg btn-primary btn-block login" type="submit" value="Register">Sign
        up</button>

</form>
{% endblock %}
