{% extends 'wad2App/base.html' %}

{% block body_block %}
<h1>Change Password</h1>
<img src="aboutus_title.png" style="max-height: 2em; margin-bottom: 4%;">

<form id="user_form" class="" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
    <!--{%csrf_token%}-->
    <input type="email" name="email" id="" class="form-control custom-input" placeholder="Email address" required=""
        autofocus="">
    <br />
    <!--{% if errors %}-->
    <p style="color:red;">Errors will appear here{{errors}}</p>
    <!--{% endif %}-->
    <button class="btn btn-lg btn-primary btn-block login" type="submit" value="resetPassword">Reset Password</button>

</form>
{% endblock %}