
{% load static %}
{% block title_block %} About Us {% endblock %}

{% block body_block %}
<h1>About us</h1>
<img src="{% static 'wad2App/img/aboutus_title.png' %}" style="max-height: 2em; margin-bottom: 2%;">
<br />
<img src="{% static 'wad2App/img/aboutus_logo.png' %}" class="my-5 px-5 mx-5" style="width: 60%">
<br />
<p> This app was built by a group of students from the University of Glasgow, for the Web Application Development 2
    module. </p>
<p> It represents a fictious dog shelter, where people can: </p>
<ul>
    <li> browse through and filter profiles of the dogs currenly in the shelter </li>
    <li> create a user profile </li>
    <li> keep a list of favouite dogs </li>
    <li> schedule visits to the shelter </li>
    <li> initiate adoption requests </li>
    <li> contact the staff </li>
</ul>

<p> Staff can: </p>
<ul>
    <li> keep track of applications via a dashboard </li>
    <li> keep track and schedule all visits to the shelter via a calendar view</li>
    <li> manage dog profiles </li>
    <li> contact users </li>
</ul>

<h1>Contact us</h1>
<img src="{% static 'wad2App/img/contact_title.png' %}" style="max-height: 2em; margin-bottom: 2%;">
<br />

<div class="row">
    <div class="col">
        <p>
            You can visit us at Osborne Street from 7 am to 5 pm. You can talk to our staff members for pet
            adoption. Make sure you schedule your visit now, there will be very limited spaces. For updates on
            our adoption opportunities, make sure to check out our Facebook page and website
        </p>
    </div>
    <div class="col">
        <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=glasgow%20shelter&key=AIzaSyD40LAQdIb3cr7R6iQI15L5z-hY4m0ts4g"
            allowfullscreen></iframe>
    </div>

</div>

<br />

<h1>Contact Form</h1>
<form id="form" method="post" action="{% url 'WAD2app:about' %}"
 enctype="multipart/form-data">

 {% csrf_token %}
 {{ form.as_p }}

</form>

{% endblock %}
