
<!-- COPY -->

{% extends 'wad2App/base.html' %}
{% block title_block %} About Us {% endblock %}

{% block body_block %}

<p> This app was built by a group of students from the University of Glasgow, for the Web Application Development 2 module. </p>
<p> It represents a fictious dog shelter, where people can: </p>
<ul>
    <li> browse through and filter profiles of the dogs currenly in the shelter </li>
    <li> create a user profile </li>
    <li> keep a list of favouite dogs </li>
    <li> schedule visits to the shelter </li>
    <li> initiate adoption requests </li>
    <li> contact the staff </li>
</ul>

<p> Staff can: </p>
<ul>
    <li> keep track of applications via a dashboard </li>
    <li> keep track and schedule all visits to the shelter via a calendar view</li>
    <li> manage dog profiles </li>
    <li> contact users </li>
</ul>

{% endblock %}
