<head>
    <script src="https://unpkg.com/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.js"></script>
    <script src="calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="base.css">

</head>

<body>
    <div id='calendar'></div>
</body>