{% extends 'wad2App/base.html' %}
{% load static %}
{% block title_block %}Find a pet companion!{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-lg">
        <img src="{% static 'wad2App/img/home_circle.png' %}" style="max-width: 100%">
        <br />
        <p>
            Our service provides an easy way to connect
            RightPet's shelter animals to the best candidates.
        </p>
        <br />
        <a type="button" href="{% url 'WAD2app:dogs' %}" class="btn btn-outline-primary btn-block">
            <h1 style="padding-top: 2%">Meet the Dogs</h1>
        </a>
        <br />
    </div>
    <div class="col-sm">
        <img src="{% static 'wad2App/img/home_dog.png' %}" class="d-sm-none d-md-block" style="max-width: 100%">
    </div>
</div>

<h1 style="text-align: center">130,000 dogs come into rehoming charities every year in the UK.</h1>
<br />
<h1 style="text-align: center">Give them...</h1>
<img src="{% static 'wad2App/img/Home_cards.png' %}" style="max-width: 100%">

<h1 style="text-align: center">Featured adopted dogs</h1>
<br />
<div class="row">
    <div class="col-lg">
        
<div class="row">
    <a class="btn btn-danger btn-Large mx-auto" target="_blank" rel="noopener noreferrer"
        href="https://www.instagram.com/explore/tags/adoptadog/">
        <h5 style="padding-top: 2%">See more on Instagram</h5>
    </a>
</div>
<br />
{% endblock %}
